<%- include('../includes/head.ejs') %>
<link href="css/style.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
</head>
<body>
    <%- include('../includes/subHeader')%>

    <!-- CONTENT ================================ -->
    <section class="item content container">
        <div class="search-box">
			<div class="container-1">
				<span class="icon"><i class="fa fa-search"></i></span>
				<input type="search" id="search" placeholder="Search..." />
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-md-3">
				<%- include('../includes/userFilterCard')%>
			</div>
			<div class="col-md-9 ">
				<div class="toparea">
					<div class="underlined-title">
						<div class="editContent">
							<h1 class="text-center latestitems">ADMIN LIST</h1>
						</div>
						<div class="wow-hr type_short">
							<span class="wow-hr-h">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							</span>
						</div>
					</div>
					<div class="user-list">
                        <%let i =1%>    
                        <% for (admin of admins){%>
                            <%admin.count=i%>
                            <%i++%>
                            <%- include('../includes/adminList/adminBox')%>
                            <div class="divide"></div>
                        <% } %>
                    </div>
				</div>
				<div class="pages">
					<p class="loadMore"><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a></p>
					<nav aria-label="Page navigation example" class="d-flex justify-content-center">
					  <ul class="pagination">
						<li class="page-item"><a href="#" aria-label="Previous" class="page-link"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
						<li class="page-item active"><a href="#" class="page-link">1</a></li>
						<li class="page-item"><a href="#" class="page-link">2</a></li>
						<li class="page-item"><a href="#" class="page-link">3</a></li>
						<li class="page-item"><a href="#" class="page-link">4</a></li>
						<li class="page-item"><a href="#" class="page-link">5</a></li>
						<li class="page-item"><a href="#" aria-label="Next" class="page-link"><span aria-hidden="true">»</span><span class="sr-only">Next</span></a></li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	
	</section>

    <%- include('../includes/foot')%>
</body>
</html>