<%- include('../includes/head.ejs') %>
<link href="css/style.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
</head>
<body>
    <%- include('../includes/subHeader')%>

    <!-- CONTENT =============================-->
    <section class="item content">
        <div class="container toparea">
            <div class="underlined-title">
                <div class="editContent">
                    <h1 class="text-center latestitems">MAKE PAYMENT</h1>
                </div>
                <div class="wow-hr type_short">
                    <span class="wow-hr-h">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    </span>
                </div>
            </div>
            <div id="edd_checkout_wrap" class="col-md-8 col-md-offset-2">
                <%- include('../includes/productInCart')%>
                <%- include('../includes/order/checkoutForm')%>
            </div>
        </div>
    </section>

    <%- include('../includes/foot')%>
</body>
</html>
    
    