<%- include('../includes/head.ejs') %>
<link href="css/style.css" rel="stylesheet">
<link href="css/custom.css" rel="stylesheet">
</head>
<body>
    <%- include('../includes/subHeader')%>

	<!-- CONTENT =============================-->
	<section class="item content container">
		<div class="row justify-content-between">
			<div class="col-md-3">
				<div class="side-bar">
					<div class="side-bar_title">
						<span>Filter porduct</span>
					</div>
					<div class="category">
						<div class="cat-title">Price</div>
						<div class="cat-content">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									$25-$50
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									$50-$100
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									$100-$150
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Over $150
								</label>
							</div>	
						</div>
					</div>
					<div class="category">
						<div class="cat-title">Gender</div>
						<div class="cat-content">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Men
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Women
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Kids
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Unisex
								</label>
							</div>	
						</div>
					</div>
					<div class="category">
						<div class="cat-title">Sports</div>
						<div class="cat-content">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Basketball
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Running
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Football
								</label>
							</div>	
						</div>
					</div>
					<div class="category">
						<div class="cat-title">Brand</div>
						<div class="cat-content">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Nike
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Adidas
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Puma
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									New Balance
								</label>
							</div>	
						</div>
					</div>
					<div class="category">
						<div class="cat-title">Brand</div>
						<div class="cat-content">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Nike
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Adidas
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									Puma
								</label>
							</div>	
							<div class="form-check">
								<input class="form-check-input" type="radio" name="flexRadioDefault" id="addition">
								<label class="form-check-label" for="flexRadioDefault1">
									New Balance
								</label>
							</div>	
						</div>
					</div>
				</div>	
			</div>
			<div class="col-md-9 ">
				<div class="toparea">
					<div class="underlined-title">
						<div class="editContent">
							<h1 class="text-center latestitems">OUR PRODUCTS</h1>
						</div>
						<div class="wow-hr type_short">
							<span class="wow-hr-h">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							</span>
						</div>
					</div>
					<div class="row">
						<% if (products.length>0){ %>
							<% for(product of products ){ %>
								<div class="col-md-4 col-sm-6 sm-offset-3">
									<div class="productbox">
										<div class="fadeshop">
											<div class="captionshop text-center" style="display: none;">
												<h3><%=product.name %></h3>
												<p>
													<%= product.description %>
												</p>
												<p>
													<a href="#" class="learn-more detailslearn"><i class="fa fa-shopping-cart"></i> Purchase</a>
													<a href="/productDetail" class="learn-more detailslearn"><i class="fa fa-link"></i> Details</a>
												</p>
											</div>
											<span class="maxproduct"><img src="<%=product.image%>" alt="shoes"></span>
										</div>
										<div class="product-details">
											<a href="#">
											<h1><%= product.sport %></h1>
											</a>
											<span class="price">
											<span class="edd_price">$<%= product.price %></span>
											</span>
										</div>
									</div>
								</div>
							<% } %>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<%- include('../includes/foot')%>
	<%- include('../includes/comment')%>
</body>
</html>