<!-- Product Box ======== -->
<div class="col-md-4">
  <div class="productbox">
    <div class="fadeshop">
      <div class="captionshop text-center" style="display: none">
        <h3><%= product.name%></h3>
        <p class="row">
          <a href="/products/editProduct/<%=product._id%>" class="learn-more detailslearn col-6"
            ><i class="fa fa-shopping-cart"></i> Edit</a
          >
          <a href="/products/<%=product._id%>" class="learn-more detailslearn col-6"
            ><i class="fa fa-link"></i> Details</a
          >
        </p>
      </div>
      <span class="maxproduct"
        ><img src="<%= product.image%>" alt="shoes"
      /></span>
    </div>
    <div class="product-details">
      <a href="/products/<%=product._id%>">
        <h1><%=product.name%></h1>
      </a>
      <span class="price">
        <span class="edd_price">$<%=product.price%></span>
      </span>
    </div>
  </div>
</div>
